@import "colour";

/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}

body{
  margin: 1ch auto;
  max-width: 80ch;
  padding: 0ch 1ch;
  font-family: monospace;
}

@media print{
  body{
    max-width:none
  }
}

a.current:not(visited) {
  text-decoration: none;
  color: $base3;
  background-color: $blue;
} 

a.current:visited {
  text-decoration: none;
  color: $base3;
  background-color: $violet;
} 

a:not(.current):not(visited)  {
  text-decoration: none;
  color: $blue;
}

a:not(.current):visited  {
  text-decoration: none;
  color: $violet;
}

.navigation {
  white-space: nowrap;
  overflow: hidden;
}

@import "highlight";