body{
  margin: 1ch auto;
  max-width: 80ch;
  padding: 0ch 1ch;
  font-family: monospace;
}

@media print{
  body{
    max-width:none
  }
}

a.current:not(visited) {
  text-decoration: none;
  color: white;
  background-color: blue;
} 

a.current:visited {
  text-decoration: none;
  color: white;
  background-color: purple;
} 

a:not(.current):not(visited)  {
  text-decoration: none;
  color: blue;
}

a:not(.current):visited  {
  text-decoration: none;
  color: purple;
}