---
layout: archive
title: Archive
permalink: /archive/date
---
<h1>Archive</h1>

{%- comment -%} <ul> {%- endcomment -%}
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
  {% for year in postsByYear %}
    {%- comment -%} <li> {%- endcomment -%}
    <h2> {{ year.name }} </h2>
    <ul>
      {% assign postsByYearMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
      {% for yearMonth in postsByYearMonth %}
        <li>
        <h3>{{ yearMonth.name }}</h3>
        <ul>
          {% for post in yearMonth.items %}
            <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</a></li>
          {% endfor %}
        </ul>
        </li>
      {% endfor %}  
    </ul>
    {%- comment -%} </li> {%- endcomment -%}
  {% endfor %}
{%- comment -%} </ul> {%- endcomment -%}